/* Reseta algumas configurações padrões */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilos gerais do body */
body {
    background-color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

/* Estilos do menu de navegação */
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 10px;
}

.menu__hamburguer {
    display: none; /* Esconde inicialmente */
    cursor: pointer;
    font-size: 30px;
    color: white;
}

/* Estilos para os itens do menu */
ul {
    display: flex;
    gap: 30px;
}

.nav__item {
    padding: 5px 10px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    border-radius: 5px;
    transition: background-color 0.3s ease, border-bottom 0.3s ease;
}

.nav__item:hover {
    background-color: #444;
    border-bottom: 2px solid white;
}

.item_menu {
    text-decoration: none;
    color: white;
    font-size: 18px;
    list-style-type: none;
}

/* Animação para o banner */
@keyframes moverImagem {
    0% { transform: translateY(0); }
    50% { transform: translateY(30px); }
    100% { transform: translateY(0); }
}
.imagem-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: white;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    min-height: 100vh;
}

.banner {
    animation: moverImagem 3s infinite alternate ease-in-out;
    max-width: 100%;
    height: auto;
}

/* Estilos das seções */

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    background-color: white;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

.section:not(#contato) {
    min-height: 100vh;
}

.conteudo-section {
    max-width: 600px;
    width: 100%;
    border: 2px solid black;
    padding: 20px;
    margin-top: 20px;
    background-color: #f9f9f9;
}

.conteudo-section > p {
    padding: 10px;
}

/* Estilos do título */
h2 {
    text-align: center;
    font-size: 28px;
    font-family: 'Arial Black', sans-serif;
    color: #333;
    margin-bottom: 20px;
}

/* home fixo no topo */

.home_nuga {
    position: fixed;
    top: 10px;
    left: 20px;
    background-color: white;
    padding: 5px 10px;
    border: 2px solid black;
    font-size: large;
    z-index: 10; /* Garante que a home fique visível sobre outros elementos */
}

.home_nuga a {
    color: black;
    text-decoration: none;
}

/* Estilos para os botões de redes sociais */
.social-media-buttons {
    display: flex;
    align-items: center;
    gap: 18px;
    justify-content: center;
    margin-top: 15px;
}

.social-media-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 50px;
    background-color: #fff;
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: #1d1d1d;
}

#valores {
    margin-top: 10px;
}

/* Estilo para o rodapé */
#cont-contato {
    font-size: 12px;
}

.copy {
    font-size: 10px;
}

/* Media Queries para telas menores */
/* Menu em telas pequenas */
@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    #menu__list {
        display: none; /* Esconde o menu inicialmente */
        flex-direction: column;
        gap: 15px;
        padding: 20px;
        width: 100%;
        text-align: center;
    }

    .menu__hamburguer {
        display: block; /* Mostra o ícone do menu hambúrguer */
        cursor: pointer;
    }

    /* Exibe o menu quando a classe 'show' é adicionada */
    #menu__list.show {
        display: flex;
    }

    /* Estilos para os itens do menu */
    ul {
        flex-direction: column;
        gap: 10px;
    }
}

